body{
    text-align: center;
    font-family: sans-serif;
    background-color: paleturquoise;
    font-family: 'Baloo', monospace;
  
 }
  
 .everything{
    text-align: center;
    display: flex;
    flex-direction:column;
    align-items: center;
 }
  
 .inputbox{
    padding: 30px;
    font-family: sans-serif, monospace;
 }
  
 #input{
    width: 300px;
    height: 300px;
    font-family: 'Ubuntu Mono', monospace;
  
 }
  
 #submit{
    padding: 20px;
    border-radius: 50px;
    -webkit-text-fill-color:black;
    background-color: snow;
    font-family: 'Ubuntu Mono', monospace;
 }
  
 .styling{
    background-color:silver;
    border-radius: 10px;
 }
  
 p{
    text-align:center;
 }

 .to-do-list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
 }

.home-icon img{
    width: 200px;
    border-radius: 100px;
    margin-top: 30px;
}
 
#bigtitle{
  font-size: 60px;  
  color: white;
}
